:root {
    --headingFont: 'Epilogue', sans-serif;
    --textFont: 'Inter', sans-serif;

    --primary: rgb(68, 123, 181);
    --secondary: #E1E1E1;
}

html {
    font-family: var(--textFont);
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    background-color: var(--primary);
}

/*Global*/
a, a:visited {
    text-decoration: none;
    color: unset;
}

.h1, .h2, .h3, .h4, .h5 {
    font-family: var(--headingFont);
    font-weight: bold;
}

.h1 {
    font-size: 4.4rem;
}

.h2 {
    font-size: 4rem;
}

.h3 {
    font-size: 3.6rem;
}

.h4 {
    font-size: 3.2rem;
}

.h5 {
    font-size: 2.8rem;
}

.text {
    font-family: var(--textFont);
    font-size: 2rem;
    font-weight: 500;
}

/* Nav */

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5rem;
    border-bottom: 5px black solid;
}